<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true" autoReload="true">
  <targets async="true">
    <target
      name="console"
      xsi:type="ColoredConsole"
      layout="${longdate} | ${level} | ${logger} | ${message} ${exception:format=ToString}" />
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="console" />
  </rules>
</nlog>